@tailwind base;
@tailwind components;
@tailwind utilities;

.top_nav a.active {
    @apply relative;
}
.top_nav a.active:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -14px;
    height: 2px;
    background-color: #ff4343;
}
.title-section {
    @apply text-[45px] leading-[50px] text-center mb-2;
}
p {
    @apply mb-5 text-[16px] lg:text-[18px];
}
p:last-of-type {
    @apply mb-0;
}
.list-about-us li {
    @apply mb-4 text-[16px] lg:text-[18px];
}
.list-about-us li:last-child {
    @apply mb-0;
}

.socmed a {
    @apply w-[24px] h-[24px] rounded-md bg-white hover:bg-[#045EE1] duration-300 flex justify-center items-center;
}
.title-page {
    @apply text-center text-[45px] leading-[67px] mb-6;
}

.pagination li a {
    @apply block py-[11px] px-[18px] rounded-[8px] bg-white text-black font-bold;
}
.pagination li {
    flex-shrink: 0;
}

.pagination li a.active {
    @apply bg-[#045EE1] text-white;
}
